@{
    ViewBag.Title = "Beerclopedia";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>(303) 746-3602</span>
    </p>
    <p>
        <span class="label">After Hours:</span>
        <span>(303) 746-3602</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Support:</span>
        <span><a href="mailto:bmgustafson@gmail.com">Support@Beerclopedia.com</a></span>
    </p>
    <p>
        <span class="label">Marketing:</span>
        <span><a href="mailto:bmgustafson@gmail.com">Marketing@Beerclopedia.com</a></span>
    </p>
    <p>
        <span class="label">General:</span>
        <span><a href="mailto:bmgustafson@gmail.com">General@Beerclopedia.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        1370 Lambert Cir<br />
        Lafayette, CO 80026
    </p>
</section>
